<div class="row form-group">
	<div class="col-md-8">
		Showing income for <%= current_user.email %> 
	</div>
	<div class="col-md-4 text-right">
		<a href="<%= new_income_path %>" class="btn btn-success">Add Income</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Month</th>
					<th>Amount</th>
					<th>Added on</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @incomes.each do |income| %>
					<tr>
						<td><%=income.month%></td>
						<td><%=income.amount%></td>
						<td><%=income.created_at%></td>
						<td>
							<%= link_to "Edit", edit_income_path(income), class: "btn btn-warning" %>
							<%= link_to "Delete", income_path(income), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<%=link_to "Home Page",root_path, class: "btn btn-info"%>
	

				