<%= form_for expense, html: {class: "my_form"} do |f| %>
<p>
	<%=f.label :name%>
	<%=f.text_field :name%>
	<span class="text-danger"><%= (expense.errors[:name].present?) ? expense.errors[:name].first : "" %></span>
	
</p>
<p>
	<%=f.label :date%>
	<%=f.text_field :expense_date%>
	<span class="text-danger"><%= (expense.errors[:expense_date].present?) ? expense.errors[:expense_date].first : "" %></span>

</p>
<p>
	<%=f.label :type %>
	<%= f.select :type, ['daily', 'weekly','monthly']%>
</p>
<p>
	<%=f.label :amount%>
	<%=f.text_field :amount%>
	<span class="text-danger"><%=(expense.errors[:amount].present?) ? expense.errors[:amount].first : ""%>
</p>

<p>
	<%=f.submit%>
</p>

<% end %>