<!DOCTYPE html>
<html>
  <head>
    <title>ExpMgr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success alert-dismissable">
          <strong>Success!</strong> <%= notice %>.<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissable">
          <strong>Error!</strong> <%= alert %>.<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <% end %>
      <%= yield %>

      <%= render "layouts/header" %>

      <%= yield :scripts %>

     </div>
  </body>
</html>
